<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This web application was created by Alex White, a stand up comedian and self taught web developer. This is my first live site! I made this because I wanted too be able to keep track of stage time and giving me rewards and goals would make it fun. I thought other comics might like it too. Hope you enjoy!
</p>